<!DOCTYPE html>
<html>
  <head>
    <title>Ayematey</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <link rel="stylesheet" href="https://unpkg.com/bamboo.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
       <% flash.each do |key, message| %>
          <div class="flash <%= key %>"><%= message %></div>
       <% end %>
      <%= yield %>
    </main>
  </body>
</html>
